body {
    overflow: hidden;
}
.welcome {
    background-image: url(../img/zenny-welcome2.jpg);
    background-position: top center;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 920px;
}

.startup-name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 13.0vw;
    padding-left: 80px;
    padding-top: 220px;
    letter-spacing: 40px;
    color: rgba(255, 255, 255, 0.65);
    border-bottom: 2px solid rgba(255, 255, 255, 0.65);
    position: absolute;
}